# Dataset analysis

In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Importing and exploring the dataset

dataset = pd.read_csv('games.csv')

display(dataset.head())
display(dataset.info())
display(dataset.describe(include="all"))

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51490 entries, 0 to 51489
Data columns (total 61 columns):
gameId                51490 non-null int64
creationTime          51490 non-null int64
gameDuration          51490 non-null int64
seasonId              51490 non-null int64
winner                51490 non-null int64
firstBlood            51490 non-null int64
firstTower            51490 non-null int64
firstInhibitor        51490 non-null int64
firstBaron            51490 non-null int64
firstDragon           51490 non-null int64
firstRiftHerald       51490 non-null int64
t1_champ1id           51490 non-null int64
t1_champ1_sum1        51490 non-null int64
t1_champ1_sum2        51490 non-null int64
t1_champ2id           51490 non-null int64
t1_champ2_sum1        51490 non-null int64
t1_champ2_sum2        51490 non-null int64
t1_champ3id           51490 non-null int64
t1_champ3_sum1        51490 non-null int64
t1_champ3_sum2        51490 non-null int64
t1_champ4id           51490 non-null int64
t1_champ4_sum1        51490 non-null int64
t1_champ4_sum2        51490 non-null int64
t1_champ5id           51490 non-null int64
t1_champ5_sum1        51490 non-null int64
t1_champ5_sum2        51490 non-null int64
t1_towerKills         51490 non-null int64
t1_inhibitorKills     51490 non-null int64
t1_baronKills         51490 non-null int64
t1_dragonKills        51490 non-null int64
t1_riftHeraldKills    51490 non-null int64
t1_ban1               51490 non-null int64
t1_ban2               51490 non-null int64
t1_ban3               51490 non-null int64
t1_ban4               51490 non-null int64
t1_ban5               51490 non-null int64
t2_champ1id           51490 non-null int64
t2_champ1_sum1        51490 non-null int64
t2_champ1_sum2        51490 non-null int64
t2_champ2id           51490 non-null int64
t2_champ2_sum1        51490 non-null int64
t2_champ2_sum2        51490 non-null int64
t2_champ3id           51490 non-null int64
t2_champ3_sum1        51490 non-null int64
t2_champ3_sum2        51490 non-null int64
t2_champ4id           51490 non-null int64
t2_champ4_sum1        51490 non-null int64
t2_champ4_sum2        51490 non-null int64
t2_champ5id           51490 non-null int64
t2_champ5_sum1        51490 non-null int64
t2_champ5_sum2        51490 non-null int64
t2_towerKills         51490 non-null int64
t2_inhibitorKills     51490 non-null int64
t2_baronKills         51490 non-null int64
t2_dragonKills        51490 non-null int64
t2_riftHeraldKills    51490 non-null int64
t2_ban1               51490 non-null int64
t2_ban2               51490 non-null int64
t2_ban3               51490 non-null int64
t2_ban4               51490 non-null int64
t2_ban5               51490 non-null int64
dtypes: int64(61)
memory usage: 24.0 MB

None

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
count,5.149000e+04,5.149000e+04,51490.000000,51490.0,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,...,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000
mean,3.306223e+09,1.502926e+12,1832.362808,9.0,1.493552,1.471295,1.450631,1.308487,0.926510,1.442804,...,5.549466,0.985084,0.414547,1.404370,0.240105,108.216294,107.910216,108.690581,108.626044,108.066576
std,2.946096e+07,1.978026e+09,512.017696,0.0,0.499963,0.520326,0.542848,0.676097,0.841424,0.569579,...,3.860989,1.256284,0.613768,1.224492,0.427151,102.551787,102.870710,102.592145,103.346952,102.756149
min,3.214824e+09,1.496892e+12,190.000000,9.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,3.292218e+09,1.502021e+12,1531.000000,9.0,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,...,2.000000,0.000000,0.000000,0.000000,0.000000,38.000000,37.000000,38.000000,38.000000,38.000000
50%,3.320021e+09,1.503844e+12,1833.000000,9.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,6.000000,0.000000,0.000000,1.000000,0.000000,90.000000,90.000000,90.000000,90.000000,90.000000
75%,3.327099e+09,1.504352e+12,2148.000000,9.0,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,9.000000,2.000000,1.000000,2.000000,0.000000,141.000000,141.000000,141.000000,141.000000,141.000000
max,3.331833e+09,1.504707e+12,4728.000000,9.0,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,11.000000,10.000000,4.000000,6.000000,1.000000,516.000000,516.000000,516.000000,516.000000,516.000000

The dataset has no null values, categorical variables. Feature scaling is not needed.

In [3]:
#Selecting features

#X = dataset[['t1_towerKills','t1_inhibitorKills','t2_towerKills','t2_inhibitorKills']]
#X = dataset[['t1_baronKills', 't1_dragonKills', 't2_riftHeraldKills', 't2_baronKills', 't2_dragonKills','t2_riftHeraldKills']]
#X = dataset[['firstTower', 'firstBlood']]
#y = dataset['winner']

FEATURES = ['t1_towerKills','t1_inhibitorKills','t2_towerKills','t2_inhibitorKills']
LABEL = "winner"

X = dataset.loc[:, FEATURES].values
y = dataset.loc[:, LABEL].values

In [4]:
# Splitting the dataset into the Training set and Test set

from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

C:\Users\Franco\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

# Modeling

## Random forest

In [11]:
from sklearn.ensemble import RandomForestClassifier
forest_classifier = RandomForestClassifier()
forest_classifier.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [12]:
# Predicting the Test set results
y_pred = forest_classifier.predict(X_test)

## Randomized search

A randomized search evalutes a given number of random combinations by selecting a random value for each hyperparameter at every iteration (this is used to get the best combination of hyperparameters)

In [5]:
#Use a Randomized Search to get the better hyperparameters for the Random Forests


from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RandomizedSearchCV

param_distribs = {'n_estimators': (10, 50, 100, 1000),
               'max_features': ['auto', 'sqrt'],
               'max_depth': range(2,20),
               'min_samples_split': [2, 5, 10],
               'min_samples_leaf': [1, 2, 4],
               'bootstrap': [True, False]}

forest_classifier = RandomForestClassifier()
rnd_search = RandomizedSearchCV(forest_classifier, param_distributions=param_distribs,
                                n_iter=10, cv=5, scoring='neg_mean_squared_error')

grid_result = rnd_search.fit(X_train, y_train)
best_params = grid_result.best_params_

print(best_params)

{'n_estimators': 50, 'min_samples_split': 10, 'min_samples_leaf': 2, 'max_features': 'auto', 'max_depth': 10, 'bootstrap': True}

In [6]:
# Predicting the Test set results
y_pred = grid_result.predict(X_test)

# Model evalutaion

In [7]:
#Evaluating the model

from sklearn.metrics import mean_squared_error
from sklearn.metrics import classification_report, confusion_matrix 

print("Mean squared error", mean_squared_error(y_test, y_pred))
print("Final RMSE", np.sqrt(mean_squared_error(y_test, y_pred)))

print("Classification report", classification_report(y_test, y_pred))
print("Confusion matrix", confusion_matrix(y_test, y_pred))

Mean squared error 0.0368032627694698
Final RMSE 0.19184176492481975
Classification report              precision    recall  f1-score   support

          1       0.95      0.98      0.96      5204
          2       0.97      0.95      0.96      5094

avg / total       0.96      0.96      0.96     10298

Confusion matrix [[5076  128]
 [ 251 4843]]